@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
    color: #000;
    background-color: #eee;
    font-size: 1.6rem;
    /* background-color: #222; */
    margin: 0;
}

#movie_page {
    text-align: center;
}

#footer{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: repeat-x;
}


#movie_page #content{
  /* background-color: #222; */
}

#movie_page video{
  background-color: #000;
  margin-bottom: 20px;s
}

h1{
  text-align: center;
  font-size: 48px;
  margin:20px 0px 0px;
}

#movie_page h1{
  color: #000;
}

#writing{
  display: inline-block;
  text-align: left;
}

#writing_mypage #movies{
  display: inline-block;
  text-align: left;
}


table{
  padding: 0;
}

td,th{
  margin: 0;
  border: solid 1px #000;
  border-collapse: collapse;
}

.thumb img{
  /* border: solid 1px #000; */
  width: 230px;
  height: 145px;
}

#tweet{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  margin: 10px auto;
}

#tweet button:active {
  /*押したとき*/
  border: solid 1px #000;
  box-shadow: none;
  text-shadow: none;
}

.error{
  color: #ff4455;
}

#movie_post textarea{
  height: 100px;
  width: 300px;
  border: none;
  resize: none;
  border-radius: 3px;
}

#movie_post{

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 10px auto;
}

#filem{
  display: none;
}

#filet{
  display: none;
}


#movie_post input{
  width: 300px;
  margin: 10px auto;
}

#tform,#mform{
  display: inline-block;
}
#movie_post button {
  background-color: #ff0091;
  width: 150px;
  height: 50px;
  display: block;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  transition: 0.3s;
  margin: 20px auto;
  font-size: 24px;
  font-weight: 500;
  color: white;
  border: none;
}

#movie_post button:hover {
  background-color: #a5bbfa;
}

#mypage{
  text-align: right;
  font-size: 30px;
  margin-top: 0px;
}
#magic_bar{
  text-align: left;
  font-size: 30px;
  margin-top: 0px;
}

#main_title{
  display: inline-block;
}

#link{
  margin: 10px;
  font-size: 30px;
  text-align: right;
}

#title{
  text-align: center;
}
.comment{
  text-align: left;
  margin: 5px auto;
  height: 100%;
  /* background-color: #; */
  padding: 10px 10px 25px;
  border-radius: 5px;
  position: relative;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

#link a {
  color: #000;
  text-decoration: none;
  margin: 0px 20px;
}

a:visited {
  color: #000;
}

video{
  margin:40px 0px;
  width: 640px;
  height: 360px;
}

#contributor{
  /* float: right; */
  margin: 20px 10px 10px auto;
  /* text-align: right; */
  right: 10px;
  position: absolute;
  display: inline;
}

#comment_text{
  /* display: inline-block; */
    margin: 0px 0px;
    word-break: break-all;
    font-size: 20px;
}

.comment div{
  margin: 0px auto;

  display: inline;
  width:100%;

  line-height: 100%;
}

.thumb p{
  margin:3px auto;

}

#comment_title{
  margin-top: 10px;
  color: #000;
}

.filename{
  font-size: 20px;
}

.register{
  margin: 0 auto;
  text-align: center;
}

.loggedin__message{
  font-size: 36px;
  text-align:center;
  margin: 50px auto;
}

@media screen and (max-width: 999px) {
  /*　画面サイズ 499pxまで適用　*/
  #writing_mypage{
    /* border: solid 1px #000; */
    display: inline-block;
    text-align: center;
    /* width: 10vw; */
    margin: 0px auto;
  }

  #my #content{
    width: 90vw;
    margin:0px auto;
    text-align: center;
    height:  95vh;
  }

  .thumb{
    text-align: left;
    display: inline-flex;
    margin: 4px 0px;
    color: #000;
    width: 90vw;
  }

  .thumb img{
    border: solid 1px #000;
    width: 160px;
    height: 90px;
    margin-left: 10px;
    margin-top: 10px;
  }

  #search_text{
    border:0;
    padding:10px;
    font-size:1.3em;
    color:#333;
    border:solid 1px #ccc;
    margin:30px auto 20px;
    width:300px;
    display: block;
  }

  #search_button{
    border:solid 1px #ccc;
    height: 40px;
    line-height: 40px;
    margin:0 auto 20px;
    font-size:1.2em;
    text-transform:uppercase;
    font-weight:bold;
    color:#333;
    cursor:pointer;
    display: block;
  }

  #movie_title{
    height: 25px;
    display: none;
  }

  #movie_time{
    display: none;
  }

  #movie_2{
    display: inline-block;
    margin: auto auto auto 10px;
    text-align: left;
  }

  #movie_post{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    margin: 10px auto;
    width: 90vw;
  }

  #movie_button{
    background-color: #ff0091;
    width: 150px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 500;
    color: white;
  }

  #movie_button:hover{
    background-color: #a5bbfa;
  }

  #thumbnail_post{
    background-color: #ff0091;
    width: 150px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 500;
    color: white;
  }

  #thumbnail_post:hover{
    background-color: #a5bbfa;
  }

  video {
    width: 90vw;
  }

  #movie_page h2{
    color: #000;
    width: 90vw;
    text-align: left;
    margin: auto auto 20px;
    border-bottom: solid 1px #eee;
  }

  #comment_form{
    width: 90vw;
    margin: 0px auto;
  }

  #tweet textarea{
    height: 100px;
    width: 60vw;
    border: none;
    resize: none;
    border-radius: 3px;
  }

  #tweet button {
    height: 50px;
    width: 20vw;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #111;/*色*/
    /* border: solid 1px #333;/*線色*/ */
    border-radius: 4px;
    /* box-shadow: inset 0 1px 0 rgba(255,255,255,0.2); */
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    margin-left: 10px;
  }

  .loginForm__email, .loginForm__password,.register__form{
    font-size: 24px;
    margin: 20px auto 10px;
  }

  .login ,.register{
    margin-top: 30px;
    width: 100vw;
  }

  .login__title ,.register__title{
    text-align: center;
    font-size: 48px;
  }
  .loginForm{
    margin: 0 auto;
    text-align: center;
    width: 100vw;
  }

  .loginForm__remember{
    font-size: 24px;
  }

  .loginForm__submit{
    margin: 20px auto;;
    font-size: 24px;
  }

  .loginForm__submit--button ,.register__submit--button{
    width: 130px;
    height: 50px;
    font-size: 24px;
    display: block;
    margin: 0 auto 30px;
  }

  .form-control{
    height: 40px;
    width: 80vw;
    font-size: 20px;
    margin: 0 auto;
    display: inline-block;
  }

  .header{
    text-align: right;
    padding-right: 10px;
    font-size: 20px;
  }
}

@media screen and (min-width:1000px) {
  /*　画面サイズ 1000px以上から適用　*/

  #search_text{
    border:0;
    padding:10px;
    font-size:1.3em;
    color:#333;
    border:solid 1px #ccc;
    margin:30px auto 20px;
    width:300px;
    display: inline-flex;
  }

  #search_button{
    border: none;
    height: 40px;
    line-height: 40px;
    margin:0 0 25px;
    font-size:24px;
    /* font-weight:bold; */
    color:#fff;
    cursor:pointer;
    display: inline-flex;
    background-color: #ff0091;
    transition: 0.3s;
    font-weight: 500;

  }

  #search_button:hover{
    background-color: #a5bbfa;
  }

  #movie_time{
    float: right;
    margin-right: 5px;
    color: #666;
  }

  #top_link{
    transition: 0.3s;
  }

  #top_link:hover{
    color: #ff0091;
  }

  #writing_mypage{
    /* border: solid 1px #000; */
    display: inline-block;
    text-align: center;
    width: 990px;
    margin: 0px auto;
  }

  #content{
    width: 1000px;
    margin:0px auto;
    text-align: center;
    height:  95vh;
  }

  #movie_button{
    background-color: #ff0091;
    width: 150px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 500;
    color: white;
  }

  #movie_button:hover{
    background-color: #a5bbfa;
  }

  #thumbnail_post{
    background-color: #ff0091;
    width: 150px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px auto;
    font-size: 24px;
    font-weight: 500;
    color: white;
  }

  #thumbnail_post:hover{
    background-color: #a5bbfa;
  }

  .thumb{
    /* float: left; */
    /* text-align: center; */
    /* border: solid 1px #000; */
    display: inline-block;
    /* padding: 5px; */
    margin: 5px;
    background-color: #fff;
    color: #000;
    /* border-radius: 5px; */
    /* opacity: 1; */
    transition: 0.3s;
  }

  .thumb:hover{
    background-color: #ccc;
  }

  #movie_page h2{
    color: #000;
    width: 700px;
    text-align: left;
    margin: auto auto 20px;
    border-bottom: solid 1px #eee;
  }

  #comment_form{
    /* border: solid 1px black; */
    width: 700px;
    margin: 0px auto;
    /* height: 100%; */
    /* background-color: #222; */
  }

  #tweet textarea{
    height: 100px;
    width: 340px;
    border: solid 1px #000;
    resize: none;
    border-radius: 3px;
  }

  #tweet button {
    height: 50px;
    width: 100px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #ff0091;/*色*/
    border: none;/*線色*/
    font-size: 24px;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    margin-left: 20px;
  }

  #movie_2{
    display: none;
  }

  .loginForm__email, .loginForm__password,.register__form{
    font-size: 36px;
    margin: 40px auto 20px;
  }

  .login ,.register{
    margin-top: 30px;
  }

  .login__title ,.register__title{
    text-align: center;
    font-size: 48px;
  }
  .loginForm{
    margin: 0 auto;
    text-align: center;
  }

  .loginForm__remember{
    font-size: 24px;
  }

  .loginForm__submit{
    margin: 20px auto;;
    font-size: 24px;
  }

  .loginForm__submit--button ,.register__submit--button{
    width: 130px;
    height: 50px;
    font-size: 24px;
  }

  .form-control{
    height: 40px;
    width: 400px;
    font-size: 20px;
  }

  .header{
    text-align: right;
    padding-right: 30px;
    font-size: 20px;
  }


  #movie_title{
    height: 25px;
    margin-left: 5px;
  }

  .review__content{
    text-align: center;
  }

  .review__form{
    text-align: center;
    display: inline-block;
    width: 500px;
  }

  .review__form textarea{
    width: 400px;
    height: 150px;

    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow: 0 0 2px rgb(204, 204, 204);
  }

  .review__title{
    text-align: center;
  }

  .review__view--title{
    display: inline-block;
    margin: 0 auto;
  }

  .review__view{
    text-align: center;
  }

  .review__comment{
    text-align: left;
    margin: 50px auto;
    width: 600px;
  }

  .review__link{
    display: inline;
    margin-top: 20px;
    margin-left: 50px;
    position:absolute;
    font-size: 24px;
    /* background-color: #ff0091; */
    color: #ff0091;
    padding: 10px;
    border-radius: 3px;
  }

  .review__text--category{
    font-size: 30px;
    border-bottom: solid 1px #ff0091;

    margin: 10px 0px;
  }

  .review__univs{
    width: 310px;
    display: inline-block;
    vertical-align: top;
    margin-top: 70px;
  }

  .review__univ{
    width: 250px;
    display: inline-block;
    border: solid 1px #000;
    border-collapse: collapse;
    margin-bottom: -1px;
  }

  .review__univ--title{
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
  }

  .review__age{
    display: none;
    /* transition: 0.3s; */
    /* opacity: 0; */
    /* transition: all 300ms 0s ease; */
    /* background-color: #ff0091; */
  }

  .review__age--link{
    margin: 0 0 9px;
    font-weight: 700;
    font-size: 20px;
    transition: all 300ms 0s ease;
  }

  .review__age--link:hover{
    color: #ff0091;
  }

  .open{
    /* display: block; */
    /* opacity: 1; */
  }

  .review__form--button{
    height: 50px;
    width: 100px;
    font-size: 20px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #ff0091;/*色*/
    border: none;/*線色*/
    border-radius: 4px;
    margin-top: 10px;
    margin-left: 20px;
    transition: 0.3s;
    font-weight: 600;
  }

  .review__form--button:hover{
    background-color: #a5bbfa;
  }

  .review__form select{
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 200px;
  }

  .review__form input{
    border-radius: 5px;
    padding: 5px;
    border: none;
    box-shadow: 0 0 2px rgb(204, 204, 204);
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 190px;
    -moz-appearance:textfield;
  }


}
