@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
    color: #333;
    background-color: #fff;
    font-size: 1.6rem;
    background-color: #222;
}

#movie_page {
    text-align: center;
    /* background : repeating-linear-gradient(to right,
                                           #990000,
                                           #990000 8px,
                                           #000000 0,
                                           #000000 15px); */
}

#footer{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: repeat-x;
}


#movie_page #content{
  /* background-color: #222; */
}

#movie_page video{
  background-color: #000;
  margin-bottom: 20px;s
}

h1{
  text-align: center;
  font-size: 48px;
  margin:20px 0px 0px;
}

#movie_page h1{
  color: #fff;
}

#movie_page h2{
  color: #fff;
  width: 700px;
  text-align: left;
  margin: auto auto 20px;
  border-bottom: solid 1px #eee;
}

#writing{
  /* border: solid 1px #000; */
  display: inline-block;
  text-align: left;
  /* width: auto; */
  /* margin: 0px auto; */
}



#writing_mypage #movies{
  /* text-align: left; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100vw; */
  /* background-color: #bbb; */
  /* margin: 10px auto; */

  display: inline-block;
  text-align: left;
}


table{
  padding: 0;
}

td,th{
  margin: 0;
  border: solid 1px #000;
  border-collapse: collapse;
}

.thumb img{
  border: solid 1px #000;
}

#tweet{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #777;
  margin: 10px auto;
}

/* #tweet button{
  height: 100px;
  background-color: rgba(255,255,255,0);
  background-color: #fff;
  border: none;
} */

#tweet button {
  height: 50px;
  width: 100px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #03A9F4;/*色*/
  border: solid 1px #0f9ada;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  margin-left: 20px;
}

#tweet button:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}

#tweet .button{
  /* margin: auto; */
  /* height: 110px; */
  /* position: absolute; */
  /* display: flex;
  align-items: center; */
  /* vertical-align: middle; */
}


#movie_post textarea{
  height: 100px;
  width: 300px;
  border: none;
  resize: none;
  border-radius: 3px;
}

#movie_post{

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666;
  margin: 10px auto;
}

#movie_post input{
  width: 300px;
  margin: 10px auto;
}

#tform,#mform{
  display: inline-block;
}
#movie_post button {
  height: 50px;
  width: 100px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #222;/*色*/
  border: solid 1px #111;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

#movie_post button:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}

#tweet textarea{
  height: 100px;
  width: 340px;
  border: none;
  resize: none;
  border-radius: 3px;
}



#comment_form{
  /* border: solid 1px black; */
  width: 700px;
  margin: 0px auto;
  /* height: 100%; */
  /* background-color: #222; */
}

#mypage{
  /* float: right; */
  text-align: right;
  font-size: 30px;
  margin-top: 0px;
}
#magic_bar{
  /* float: right; */
  text-align: left;
  font-size: 30px;
  margin-top: 0px;
}

#main_title{
  display: inline-block;
  /* margin: auto; */
}

#link{
  margin: 10px;
  font-size: 30px;
  text-align: right;
}

#title{
  text-align: center;
}
.comment{
  text-align: left;
  /* display: block; */
  /* width: 90%; */
  margin: 5px auto;
  height: 100%;
  /* background-color: #ccc; */
  background-color: #222;
  padding: 10px 10px 25px;
  border-radius: 5px;
  position: relative;
  color: #fff;

}



a {
  color: #fff;
  text-decoration: none;
}

#link a {
  color: #fff;
  text-decoration: none;
  margin: 0px 20px;
}

a:visited {
  color: #fff;
}

video{
  margin:40px 0px;
  width: 640px;
  height: 360px;
}

#contributor{
  /* float: right; */
  margin: 20px 10px 10px auto;
  /* text-align: right; */
  right: 10px;
  position: absolute;
  display: inline;
}

#comment_text{
  /* display: inline-block; */
    margin: 0px 0px;
    word-break: break-all;
    font-size: 20px;
}

.comment div{
  margin: 0px auto;

  display: inline;
  width:100%;

  line-height: 100%;
}

.thumb p{
  margin:3px auto;

}

#comment_title{
  margin-top: 10px;
}

#movie_title{
  height: 25px;
}


@media screen and (max-width: 999px) {
  /*　画面サイズ 499pxまで適用　*/
  #writing_mypage{
    /* border: solid 1px #000; */
    display: inline-block;
    text-align: center;
    width: 400px;
    margin: 0px auto;
  }

  #content{
    width: 100vw;
    margin:0px auto;
    text-align: center;
    height:  95vh;
  }

  .thumb{
    /* float: left; */
    text-align: center;
    border: solid 1px #000;
    display: block;
    padding: 5px;
    margin: 5px;
    background-color: #444;
    color: #ddd;
    border-radius: 5px;
  }
}

@media screen and (min-width:1000px) {
  /*　画面サイズ 1000px以上から適用　*/
  #writing_mypage{
    /* border: solid 1px #000; */
    display: inline-block;
    text-align: center;
    width: 990px;
    margin: 0px auto;
  }

  #content{
    width: 1100px;
    margin:0px auto;
    text-align: center;
    height:  95vh;
  }

  .thumb{
    /* float: left; */
    text-align: center;
    border: solid 1px #000;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #444;
    color: #ddd;
    border-radius: 5px;
  }
}
