@charset "utf-8";

html{
    font-size: 62.5%;
}

body{
    color: #eee;
    background-color: #fff;
    font-size: 1.6rem;
    background-color: #222;
    margin: 0;
}

#movie_page {
    text-align: center;
    /* background : repeating-linear-gradient(to right,
                                           #990000,
                                           #990000 8px,
                                           #000000 0,
                                           #000000 15px); */
}

#search_text{
  border:0;
  padding:10px;
  font-size:1.3em;
  color:#333;
  border:solid 1px #ccc;
  margin:30px auto 20px;
  width:300px;
  display: inline-flex;
}

#search_button{
  border:solid 1px #ccc;
  height: 40px;
  line-height: 40px;
  margin:0 0 20px;
  font-size:1.2em;
  text-transform:uppercase;
  font-weight:bold;
  color:#333;
  cursor:pointer;
  display: inline-flex;
}

#footer{
  position: fixed;
  bottom: 0;
  left: 0;
  margin: auto;
  background-repeat: repeat-x;
}


#movie_page #content{
  /* background-color: #222; */
}

#movie_page video{
  background-color: #000;
  margin-bottom: 20px;s
}

h1{
  text-align: center;
  font-size: 48px;
  margin:20px 0px 0px;
}

#movie_page h1{
  color: #fff;
}

#writing{
  /* border: solid 1px #000; */
  display: inline-block;
  text-align: left;
  /* width: auto; */
  /* margin: 0px auto; */
}



#writing_mypage #movies{
  /* text-align: left; */
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* width: 100vw; */
  /* background-color: #bbb; */
  /* margin: 10px auto; */

  display: inline-block;
  text-align: left;
}


table{
  padding: 0;
}

td,th{
  margin: 0;
  border: solid 1px #000;
  border-collapse: collapse;
}

.thumb img{
  border: solid 1px #000;
}

#tweet{
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #777;
  margin: 10px auto;
}

/* #tweet button{
  height: 100px;
  background-color: rgba(255,255,255,0);
  background-color: #fff;
  border: none;
} */

#tweet button:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}

#tweet .button{
  /* margin: auto; */
  /* height: 110px; */
  /* position: absolute; */
  /* display: flex;
  align-items: center; */
  /* vertical-align: middle; */
}


#movie_post textarea{
  height: 100px;
  width: 300px;
  border: none;
  resize: none;
  border-radius: 3px;
}

#movie_post{

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #666;
  margin: 10px auto;
}

#filem{
  display: none;
}

#filet{
  display: none;
}


#movie_post input{
  width: 300px;
  margin: 10px auto;
}

#tform,#mform{
  display: inline-block;
}
#movie_post button {
  height: 50px;
  width: 100px;
  margin-top: 10px;
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: #222;/*色*/
  border: solid 1px #111;/*線色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
  margin-bottom: 20px;
}

#movie_post button:active {
  /*押したとき*/
  border: solid 1px #03A9F4;
  box-shadow: none;
  text-shadow: none;
}

#mypage{
  /* float: right; */
  text-align: right;
  font-size: 30px;
  margin-top: 0px;
}
#magic_bar{
  /* float: right; */
  text-align: left;
  font-size: 30px;
  margin-top: 0px;
}

#main_title{
  display: inline-block;
  /* margin: auto; */
}

#link{
  margin: 10px;
  font-size: 30px;
  text-align: right;
}

#title{
  text-align: center;
}
.comment{
  text-align: left;
  /* display: block; */
  /* width: 90%; */
  margin: 5px auto;
  height: 100%;
  /* background-color: #ccc; */
  background-color: #222;
  padding: 10px 10px 25px;
  border-radius: 5px;
  position: relative;
  color: #fff;

}



a {
  color: #fff;
  text-decoration: none;
}

#link a {
  color: #fff;
  text-decoration: none;
  margin: 0px 20px;
}

a:visited {
  color: #fff;
}

video{
  margin:40px 0px;
  width: 640px;
  height: 360px;
}

#contributor{
  /* float: right; */
  margin: 20px 10px 10px auto;
  /* text-align: right; */
  right: 10px;
  position: absolute;
  display: inline;
}

#comment_text{
  /* display: inline-block; */
    margin: 0px 0px;
    word-break: break-all;
    font-size: 20px;
}

.comment div{
  margin: 0px auto;

  display: inline;
  width:100%;

  line-height: 100%;
}

.thumb p{
  margin:3px auto;

}

#comment_title{
  margin-top: 10px;
}

#movie_title{
  height: 25px;
}

.filename{
  font-size: 20px;
}

@media screen and (max-width: 999px) {
  /*　画面サイズ 499pxまで適用　*/
  #writing_mypage{
    /* border: solid 1px #000; */
    display: inline-block;
    text-align: center;
    /* width: 10vw; */
    margin: 0px auto;
  }

  #my #content{
    width: 90vw;
    margin:0px auto;
    text-align: center;
    height:  95vh;
  }

  .thumb{
    /* float: left; */
    text-align: left;
    /* border: solid 1px #000; */
    /* border-top: solid 1px #fff; */
    display: inline-flex;
    /* padding: 5px; */
    margin: 5px 0px;
    /* background-color: #444; */
    color: #ddd;
    /* border-radius: 5px; */
    width: 90vw;
  }

  .thumb img{
    border: solid 1px #000;
    width: 160px;
    height: 90px;
    margin-left: 10px;
    /* float: right; */
    margin-top: 10px;
  }

  #movie_title{
    height: 25px;
    display: none;
    /* float: right;
    margin-right: 200px; */
  }

  #movie_time{
    display: none;
  }

  #movie_2{
    display: inline-block;
    margin: auto auto auto 10px;
    text-align: left;
  }

  #movie_post{

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #666;
    margin: 10px auto;
    width: 90vw;
  }

  #movie_button{
    background-color: #0C88CA;
    width: 150px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px auto;
  }

  #movie_button:hover{
    background-color: #a5bbfa;
  }

  #thumbnail_post{
    background-color: #0C88CA;
    width: 150px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px auto;
  }

  #thumbnail_post:hover{
    background-color: #a5bbfa;
  }

  video {
    width: 90vw;
  }

  #movie_page h2{
    color: #fff;
    width: 90vw;
    text-align: left;
    margin: auto auto 20px;
    border-bottom: solid 1px #eee;
  }

  #comment_form{
    /* border: solid 1px black; */
    width: 90vw;
    margin: 0px auto;
    /* height: 100%; */
    /* background-color: #222; */
  }

  #tweet textarea{
    height: 100px;
    width: 60vw;
    border: none;
    resize: none;
    border-radius: 3px;
  }

  #tweet button {
    height: 50px;
    width: 20vw;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    margin-left: 10px;
  }
}

@media screen and (min-width:1000px) {
  /*　画面サイズ 1000px以上から適用　*/
  #writing_mypage{
    /* border: solid 1px #000; */
    display: inline-block;
    text-align: center;
    width: 990px;
    margin: 0px auto;
  }

  #content{
    width: 1100px;
    margin:0px auto;
    text-align: center;
    height:  95vh;
  }

  #movie_button{
    background-color: #0C88CA;
    width: 150px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px auto;
  }

  #movie_button:hover{
    background-color: #a5bbfa;
  }

  #thumbnail_post{
    background-color: #0C88CA;
    width: 150px;
    height: 50px;
    display: block;
    text-align: center;
    line-height: 50px;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px auto;
  }

  #thumbnail_post:hover{
    background-color: #a5bbfa;
  }

  .thumb{
    /* float: left; */
    text-align: center;
    border: solid 1px #000;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #444;
    color: #ddd;
    border-radius: 5px;
  }

  #movie_page h2{
    color: #fff;
    width: 700px;
    text-align: left;
    margin: auto auto 20px;
    border-bottom: solid 1px #eee;
  }

  #comment_form{
    /* border: solid 1px black; */
    width: 700px;
    margin: 0px auto;
    /* height: 100%; */
    /* background-color: #222; */
  }

  #tweet textarea{
    height: 100px;
    width: 340px;
    border: none;
    resize: none;
    border-radius: 3px;
  }

  #tweet button {
    height: 50px;
    width: 100px;
    position: relative;
    display: inline-block;
    padding: 0.25em 0.5em;
    text-decoration: none;
    color: #FFF;
    background: #03A9F4;/*色*/
    border: solid 1px #0f9ada;/*線色*/
    border-radius: 4px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
    text-shadow: 0 1px 0 rgba(0,0,0,0.2);
    margin-left: 20px;
  }

  #movie_2{
    display: none;
  }
}
